python-dotenv
kafka-python
schedule
stellar-harvest-ie-config>=0.1.2
stellar-harvest-ie-models>=0.3.1
stellar-harvest-ie-stream>=0.1.2
stellar-harvest-ie-store>=0.1.2
stellar-harvest-ie-producers>=0.2.3