PROJECT_ROOT=/home/user/stellar-harvest-insight-engine

# "index-url" ~/.config/pip/pip.conf
DEVPI_HASEK_DEV_URL=="http://localhost:3141/user/pypi/+simple/"

TWINE_USERNAME=
TWINE_PASSWORD=
TWINE_REPOSITORY_URL=http://localhost:3141/user/pypi/

KAFKA_URI=kafka:9092
KAFKA_TOPIC_SWPC=stellar-harvest-ie-raw-space-weather

SCHEDULE_EVERY_MINUTES=15

# -----------------------------------------------------------------
# Internal module versions - bump when publishing a new version.
# These drive Docker build ARGs. Changing any value here will
# invalidate the internal-deps layer of the affected services
# on the next 'docker compose build'.
# -----------------------------------------------------------------
SHIE_CONFIG_VERSION=0.1.0
SHIE_MODELS_VERSION=0.1.0
SHIE_STREAM_VERSION=0.1.0
SHIE_STORE_VERSION=0.1.0
SHIE_PRODUCERS_VERSION=0.1.0
SHIE_CONSUMERS_VERSION=0.1.0
SHIE_UI_VERSION=0.1.0
SHIE_ML_STELLAR_VERSION=0.1.0
